# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token_here

# Account 1
ACCOUNT_NAME1=YourChildName
LIBRUS_USERNAME1=your_librus_username
LIBRUS_PASSWORD1=your_librus_password
TELEGRAM_CHAT_IDS1=123456789

# Account 2
ACCOUNT_NAME2=YourSecondChildName
LIBRUS_USERNAME2=your_librus_username
LIBRUS_PASSWORD2=your_librus_password
TELEGRAM_CHAT_IDS2=123456789
